[Unit]

Description=myservice

Requires=docker.service

After=docker.service



[Service]

Restart=always
WorkingDirectory=/home/ubuntu

# Compose up
ExecStart=/usr/local/bin/docker-compose -f /home/ubuntu/prod.yml up

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose -f /home/ubuntu/prod.yml down


[Install]

WantedBy=multi-user.target
